<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>
<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>


<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>

<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>

<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>
<ion-card>
<ion-item text-wrap>
<ion-avatar item-start>
<img src="assets/to-user.jpg" (click)="avatarTapped()">
</ion-avatar>
<h5>Deepak sharma</h5>
<h6 item-end>$300</h6>
<p class="fs-9">Purchaged sugar from guddu ki dukan wo bhi free main</p>
</ion-item>
<ion-row>
<ion-col> <span class="fs-9">November 9, 2018</span> </ion-col>
<ion-col>
<ion-icon name='contact'></ion-icon>
<ion-icon name='contact'></ion-icon>
</ion-col>
</ion-row>
</ion-card>