<div class="container p-15 mt-35">
    <form #addForm="ngForm" novalidate class="form-signin" style="text-align:center">
   
        <h2 class="text-center" style="text-align:center"> Add items</h2>
    <ion-row class="">
        <ion-col class="p-0">
          <ion-list>
           <ion-item class="pl-0">
                 <ion-input [(ngModel)]="transaction.goods" name="goods" type="text" placeholder="Goods"  #goods="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
           </ion-input>
           </ion-item>
           <p  class="mtm-6 pl-12" ion-text [hidden]="goods.valid || submitted == false" color="danger" padding-left>
            goods is required
           </p>
         <ion-item class="pl-0">
               <ion-input [(ngModel)]="transaction.amount" name="amount" type="number" placeholder="amount"  #amount="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
         </ion-input>
         </ion-item>
         <p  class="mtm-6 pl-12" ion-text [hidden]="amount.valid || submitted == false" color="danger" padding-left>
          Amount is required
         </p>
        <ion-item class="pl-0">
         <ion-input [(ngModel)]="transaction.date" name="date" type="date" placeholder="date"  #date="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
         </ion-input>
       </ion-item>
       <p  class="mtm-6 pl-12" ion-text [hidden]="date.valid || submitted == false" color="danger" padding-left>
         date is required
       </p>   
       <ion-item class="pl-0">
             <ion-input [(ngModel)]="transaction.comment" name="comment" type="text" placeholder="Comment"  #comment="ngModel" spellcheck="false" autocapitalize="off" class="form-control"  required>
             </ion-input>
       </ion-item>
         <p  class="mtm-6 pl-12" ion-text [hidden]="comment.valid || submitted == false" color="danger" padding-left>
           message is required
         </p>
       <ion-item class="pl-0 btn-sm">
            <button ion-button class="btn submit-btn fs-16" full type="submit" (click)="addTransaction(addForm)">Save</button>
        </ion-item>
          </ion-list>
        </ion-col>
    
      </ion-row>
      
    </form>
  </div>