
<ion-content>
  <!--<div class="message-wrap">
    <div class="message left">
        <img class="user-img" alt="" src="./assets/to-user.jpg">
          <div class="msg-detail">
            <div class="msg-info">
             <p>Robt &nbsp;&nbsp;&nbsp;2pm</p>
            </div>
            <div class="msg-content">
                <span class="triangle"></span>
                <p class="line-breaker ">Sample message how to use this application</p>
            </div>
        </div>
      </div>

      <div *ngFor="let msg of msgList"
           class="message"
           [class.left]=" msg.userId === toUser.id "
           [class.right]=" msg.userId === user.id ">
          <img class="user-img" [src]="msg.userAvatar" alt="" src="">
          <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
           <div class="msg-detail">
              <div class="msg-info">
                  <p>
                      {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
              </div>
              <div class="msg-content">
                  <span class="triangle"></span>
                  <p class="line-breaker ">{{msg.message}}</p>
              </div>
          </div>
      </div>

  </div>-->
  <!--<div class="message-wrap">
        <div class="message left">  
                <img class="user-img" alt="" src="./assets/to-user.jpg">         
              <div class="msg-detail">
                <div class="msg-info">
                 <p>Sweety</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker">Hi deepak,<br> Welcome to easy expense system to record your daily transaction!</p>
                    </div>
            </div>
          </div>
      </div>-->

<!-- <transaction-card></transaction-card> -->
<ion-item id="udpateBox">
    <textarea #updatebox [(ngModel)]="userPostData.feed" autofocus></textarea>
    <ion-row>
      <button ion-button color="energy" (click)="feedUpdate()">Update</button>
    </ion-row>
  </ion-item>
<ion-card *ngFor="let item of dataSet; let msgIndex = index" >
    <ion-item text-wrap>
    <ion-avatar item-start>
    <img src="assets/user.jpg">
    </ion-avatar>
    <h5>{{userDetails.name}}</h5>
    <h6 item-end>$ 230 </h6>
    <p class="fs-9"> {{item.feed}} </p>
    </ion-item>
    <ion-row>
    <ion-col> <span class="fs-9">{{this.converTime(item.created)}}</span> </ion-col>
    <ion-col>
    <ion-icon name='contact'></ion-icon>
    <ion-icon name='contact'></ion-icon>
    <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon>
     </ion-col>
    </ion-row>
    </ion-card>
<popup-menu> </popup-menu>

  <ion-card *ngIf="noRecords">
    <ion-item>
      No Records
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

  

